@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);


  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

:root {
  --radius: 0.5rem; 
  --background: #FFFFFF;
  --foreground: #09090B;
  --card: #FFFFFF;
  --card-foreground: #09090B;
  --muted: rgba(9, 9, 11, 0.06); 
  --muted-foreground: rgba(9, 9, 11, 0.6);
  --border: #E4E4E7;
  --primary: #2563EB;
  --primary-foreground: #FFFFFF;
  --accent: #1D4ED8; 
  --accent-foreground: #FFFFFF;
  --destructive: #DC2626;
  --ring: #3B82F6;
}

.dark {
  --background: #09090B;
  --foreground: #FAFAFA;
  --card: #1C1C1F;
  --card-foreground: #FAFAFA;
  --muted: rgba(250, 250, 250, 0.06); 
  --muted-foreground: rgba(250, 250, 250, 0.6);
  --border: #3F3F46;
  --primary: #3B82F6;
  --primary-foreground: #FFFFFF;
  --accent: #60A5FA; 
  --accent-foreground: #FFFFFF;
  --destructive: #F87171;
  --ring: #60A5FA;
  --primary-dark: #1e40af;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
